*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body
{
    height:130vh;
   background-color: rgb(6, 3, 62);
   border: 6px solid blueviolet;
}

.container1
{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;

}

.box1
{
    width: 100%;
    display: flex;
    margin: 15px;
    
}

.profile
{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
}

.image_profile
{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding-bottom: 40px;
    

}

  .social
{
    display: flex;  
    align-items: flex-end;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}   



 .links
{

    
    display: flex;
    width: 100%;
    height: 450px;
    flex-direction: column;
    margin: 20px;
} 

.fb
{

    padding-top: 40px;
    width: 100%;
    height:100%;
    display: grid;
    place-items: center;
    
}
/* .fb:nth-child(1)
{
    background-color: skyblue;
}
.fb:nth-child(2)
{
    
}
.fb:nth-child(3)
{
   
} */

.icon
{
    width: 125px;
    height: 125px;
    background-color: black;
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: 3px solid red;
  
}

.buttons1
{
    display: inline-block;
    font-size: 17px;
    color: skyblue;
    font-family: 'Spline Sans Mono', monospace;    
}

.image_profile img
{   
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    
}

.picturebox
{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 5px solid red;
    margin: 10px;
}

.text
{     
    flex-direction: column;  
    position: relative;
    width: 100%;
    display: flex;
    margin: 10px;
    padding: 10px;
}

.texts
{
    width: 100%;
    margin-bottom: 55px;
}

.texts:nth-child(2)
{
    font-size: 20px;
    display: grid;
    place-items: center;
}
.texts:nth-child(3)
{
    font-size: 15px;
    display: grid;
    padding-left: 10px;
}

.text11
{
    padding: 20px;
    flex: 1;
    width: 100%;
    border: 1px solid red;
    border-radius: 10%;
    padding-bottom: 10px;
}

.bio1
{
    padding: 20px;
    color: skyblue;
    font-weight: bold;
    font-family: 'Spline Sans Mono', monospace;
    border: 1px solid red;
    border-radius: 10%;
}

.quotes
{
    padding: 20px;
    color: skyblue;
    font-family: 'Spline Sans Mono', monospace;
    border: 1px solid red;
    border-radius: 10%;

}

h1
{
    font-size: 20px;
    color: white;
}

.bio
{
    padding: 1px;
    color: skyblue;
    font-family: 'Spline Sans Mono', monospace;
    
}


@media only screen and (max-width: 576px)
{

    body
    {
        width: 55vh;
        height:200vh;
        
    }
    
    .container1
    {
        position: absolute;
        display: grid;
    
    }
    
    .box1
    {
        width: 100%;
        display: flex;
        margin: 15px;
        
    }
    
    .profile
    {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
       
        
    }
    
    .image_profile
    {
        place-items: center;
        padding-bottom: 40px;
        padding-left: 20px;    
    }
    
      .social
    {
        flex-direction: row;
        position: relative;
        
    }   
    
    
    
     .links
    {
    
        top: -100px;
        position: absolute;
        width: 100%;
        height: 150px;
        flex-direction: row;
        margin: 10px
    } 
    
    .fb
    {
    
        padding-top: 40px;
        width: 100%;
        height:100%;
        display: grid;
        place-items: center;
        
    }

        
    .icon
    {
        width: 125px;
        height: 125px;
        background-color: black;
        border-radius: 50%;
        display: grid;
        place-items: center;
        border: 3px solid red;
    
    }

    .buttons1
    {
        display: inline-block;
        font-size: 17px;
        color: skyblue;
        font-family: 'Spline Sans Mono', monospace;    
    }

    .image_profile img
    {   
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        
    }

    .picturebox
    {
        width: 230px;
        height: 230px;
        border-radius: 50%;
        border: 5px solid red;
        margin: 10px;
    }

    .text
    {     
        top:60%;
        /* fl
        flex-direction: row;   */
        position: absolute;
        align-items: center;
        margin-top: 30px;
        
    }

    .texts
    {
        flex: 1;
        width: 100%;
        
    }

    .texts:nth-child(2)
    {
        font-size: 20px;
        display: grid;
        place-items: center;
    }
    .texts:nth-child(3)
    {
        font-size: 15px;
        display: grid;
        padding-left: 10px;
    }

    .text11
    {
        padding: 10px;
        flex: 1;
        width: 100%;
        border: 1px solid red;
        border-radius: 10%;
        margin: 15px;
    }

    .bio1
    {
        padding: 15px;
        color: skyblue;
        font-weight: bold;
        font-family: 'Spline Sans Mono', monospace;
        border: 1px solid red;
        border-radius: 10%;
        margin-bottom: 10px;
    }

    .quotes
    {
        padding: 10px;
        color: skyblue;
        font-family: 'Spline Sans Mono', monospace;
        border: 1px solid red;
        border-radius: 10%;
    }

    h1
    {
        font-size: 20px;
        color: white;
    }

    .bio
    {
        padding: 10px;
    }

}


@media only screen and (max-width: 768px)
{

    body
    {
        height: 100vh;
    }

    .links
    {
        margin: 95px;
    }

    .social
    {
        top: -15%;
        position: relative;
    }


    .quotes
    {
        margin-top: 20px;
        padding:20px;
    }

    .text11
    {
        padding: 20px;
        margin-top: 20px;
    }








}


